:root{
	--font-cairo: 'Cairo', sans-serif;
	--font-zillaSlab: 'Zilla Slab', serif;
	--color-with: #ecf0f1;
	--color-green: #2ecc71;
	--color-green-dark: #27ae60;
	--color-red: #e74c3c;
	--color-red-dark: #c0392b;
} 